.previousframeconfig.json
.previousoptions.json
.previoussolutions.json
[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]/
linefit
.temp
sdBgrid*
*.zip
*.csv
output
reduced_spectra.csv
output_alfosc
reduced_spectra_alfosc.csv
raw_spectra
*__pycache__*
EFOSC_testdata
output_efosc
reduced_spectra_*
EFOSC_data
venv
